/* *{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("istockphoto-692342754-170667a.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    background-position: center;
    height: 100%; 
    overflow: hidden; 
      
}
main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0 3rem;
    height: 100vh;
    justify-content: center;
}
h1{
    color: aliceblue;
    
}
.button{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100vh;
    align-items: space-between;
    background-color: 	#36454F;
    border-radius: 1rem;
    justify-content: center;
    
    

}
.click{
    margin: 2rem;
    cursor: pointer;
}

table, td, th {  
    border: 1px solid #ddd;
    text-align:center;
  }
  
.toolsTable {
    border-collapse:separate;
    width: 50%;
    height: 50%;
    position: relative;
    top: 25%;
}
  
  th, td {
    padding: 1rem;
    box-sizing: border-box;
    color: aliceblue;
  }
.btn{
    padding: 0.25rem 1rem;
    min-width: 5rem;
    text-align: center;
}

.btn-primary{
    background-color:#435d7d;
    color: white;
    
}
.btn-danger{
    background-color: red;
    color: white;
}




 */
