*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e8dddd;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("istockphoto-692342754-170667a.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}
.root{
    /* background-color: #f5f5f5; */
    padding: 1.5rem;
    /* width: 25rem;
    height: 50vh; */
    border-radius: 1.5rem;


}
.login_form{
    display: flex;
    flex-direction: column;
    margin: 1rem 0; 
    position: relative;
    top: 75%;
    
}
label{
    line-height: 2.5rem;
    
}

.btn{
    width: 25%;
    margin: 1rem;
    padding: 0.5rem;
    text-align: center;
}






main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0 3rem;
    height: 100vh;
    justify-content: center;
}
h1{
    color:white;
    position: relative;
    top: 60%;
    
}
.button{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 50vh;
    align-items: space-between;
    background-color: 	#36454F;
    border-radius: 1rem;
    justify-content: center;
    
    

}
.click{
    margin: 2rem;
    cursor: pointer;
}

table, td, th {  
    border: 1px solid #ddd;
    text-align:center;
  }
  
.toolsTable {
    border-collapse:separate;
    width: 50%;
    height: 50%;
    position: relative;
    top: 25%;
}
  
  th, td {
    padding: 1rem;
    box-sizing: border-box;
    color: aliceblue;
  }
.btn{
    padding: 0.25rem 1rem;
    min-width: 5rem;
    text-align: center;
}

.btn-primary{
    background-color:#435d7d;
    color: white;
    
}
.btn-danger{
    background-color: red;
    color: white;
}

.createModal{
    background-color: #36454F;
    color: #ddd;
}
.form{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}





